<!-- Hero -->
<section id="slider" class="hero p-0 featured">
    <div class="swiper-container no-slider slider-h-75">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide-center">
                <img src="{{ settings.appearance.banner_primary.path }}" class="full-image" data-mask="70">
                <div class="slide-content row text-center">
                    <div class="col-12 mx-auto inner">
                        <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">{{ title|_ ?: this.page.title|_ }}</h1>
                        <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                            {% if not this.page.breadcrumbs|length %}
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ 'home'|page }}">{{ 'Home'|_ }}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ title|_ ?: this.page.title|_ }}</li>
                            </ol>
                            {% else %}
                            <ol class="breadcrumb">
                                {% for breadcrumb in this.page.breadcrumbs %}
                                    {% if loop.last %}
                                        <li class="breadcrumb-item"><a href="{{ breadcrumb.url }}">{{ breadcrumb.title|_ }}</a></li>
                                    {% else %}
                                        <li class="breadcrumb-item active" aria-current="page">{{ title|_ ?: this.page.title|_ }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ol>
                            {% endif %}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
