<!-- Footer -->
<footer>
    <!-- Footer [links] -->
    <section id="footer" class="footer">
        <div class="container">
            <div class="row items footer-widget">
                <div class="col-12 p-0">
                    <div class="row">
                        <div class="branding col-md-8 offset-md-2 p-3 text-center item">
                            <div class="brand">
                                <a href="{{ 'home'|page }}" class="logo">
                                    <img src="{{ settings.appearance.logo.path }}" alt="{{ settings.site.name }}">
                                </a>
                            </div>
                            <p class="font-weight-bold mt-0 mb-0">{{ settings.site.tagline }}</p>
                            {# <p class="mt-0">
                                {{ settings.site.description }}
                            </p> #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Copyright -->
    <section id="copyright" class="p-3 copyright">
        <div class="container">
            <div class="row">
                <div class="col-12 p-3 text-center">
                    <p>
                        © {{ ''|date('Y')}} Copyright <span class="text-primary font-weight-bold">{{ settings.site.name }}</span> All Right Reserved
                        .
                    </p>
                </div>
            </div>
        </div>
    </section>
</footer>
