[staticMenu mainMenu]
code = "main-menu"

[viewBag]
==
<header id="header">
    <!-- Navbar -->
    <nav data-aos="zoom-out" data-aos-delay="800" class="navbar navbar-expand">
        <div class="container header">
            <!-- Navbar Brand-->
            <a class="navbar-brand" href="{{ 'home'|page }}">
                <img src="{{ settings.appearance.logo.path }}" alt="{{ settings.site.name }}">
            </a>
            <!-- Nav holder -->
            <div class="ml-auto"></div>
            <!-- Navbar Items -->
            <ul class="navbar-nav items">
                {% for item in mainMenu.menuItems %}
                <li class="nav-item {{ item.items|length ? 'dropdown' : '' }}">
                    <a href="{{ item.url }}" class="nav-link {{ item.isActive ? 'active' : '' }}">
                        {{ item.title }}
                        {% if item.items|length %}
                        <i class="icon-arrow-down"></i>
                        {% endif %}
                    </a>
                    {% if item.items|length %}
                    <ul class="dropdown-menu">
                        {% for it in item.items %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ it.url }}">{{ it.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link">{{ 'Language'|_ }} <i class="icon-arrow-down"></i></a>
                    <ul class="dropdown-menu">
                        {% for code, name in locales %}
                        <li class="nav-item"><a data-request="onSwitchLocale" data-request-data="locale: '{{ code }}'" href="#" class="nav-link">{{ name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav toggle">
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#menu">
                        <i class="icon-menu m-0"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
