[googleTracker]

==
<!-- BEGIN SHAREAHOLIC CODE -->
<link rel="preload" href="https://cdn.shareaholic.net/assets/pub/shareaholic.js" as="script" />
<meta name="shareaholic:site_id" content="c9f3bf9bf5eb6a4813eabb3fa1e3d2fb" />
<script data-cfasync="false" async src="https://cdn.shareaholic.net/assets/pub/shareaholic.js"></script>
<!-- END SHAREAHOLIC CODE -->

{% component 'googleTracker' %}
<script>
	{% if user %}
	// GA User Identification
	ga('set', 'userId', '{{ user.email }}');

	// Zopim User Identification
	// $zopim(function() {
	//     $zopim.livechat.setName('{{ user.name }}');
	//     $zopim.livechat.setEmail('{{ user.email }}');
	// });
	{% endif %}
</script>
