title     = "Our Services"
url       = "/services"
layout    = "default"
is_hidden = 0
==
<?php
function onEnd() {
    $this['services'] = \Terra\Service\Models\Service::get();
    $this['partners'] = \Terra\Partner\Models\Partner::get();
}
?>
==
{% partial 'banner-primary' %}
<section id="services" class="section-1 offers">
    <div class="container">
        {% for key, service in services %}
            {% partial 'service/card-service-fit' service=service key=key %}
        {% endfor %}

        {# <div class="row justify-content-center text-center items">
            {% for service in settings.page.services %}
                <div class="col-12 col-md-12 col-lg-12 item">
                    <div class="card featured">
                        <h4>{{ service.title }}</h4>
                        <p>{{ service.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div> #}
    </div>
</section>
