title = "Contact"
url = "/contact"
layout = "default"
is_hidden = 0

[BaseContact]
==
{% partial 'banner-primary' %}
{# <section id="contacts" class="section-1 offers">
    <div class="container">
        <div class="row justify-content-center text-center items">
            <div class="col-12 col-md-6 col-lg-4 item">
                <div class="card featured">
                    <i class="icon icon-home"></i>
                    <h4>{{ settings.site.contact_phone }}</h4>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 item">
                <div class="card">
                    <i class="icon icon-envelope"></i>
                    <h4>{{ settings.site.contact_email }}</h4>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 item">
                <div class="card featured">
                    <i class="icon icon-location-pin"></i>
                    <h4>{{ settings.site.contact_address }}</h4>
                </div>
            </div>
        </div>
    </div>
</section> #}

<section id="contact" class="section-1 form">
    <div class="container">
        <form data-request="BaseContact::onSave" data-request-flash>
            <div class="row">
                <div class="col-12 col-md-6 align-self-start text-center text-md-left">
                    <div class="row form-content">
                        <div class="col-12 p-0 align-self-center text-center text-md-left mb-4">
                            <h2 class="featured mb-3">{{ settings.heading.contact_title  }}</h2>
                            <p class="mb-0 mt-0">{{ settings.site.contact_company }}</p>
                            <p class="mb-0 mt-0">Nine Office, Menara MTH, lt. 15, Suite 1508 <br>Jl Letjen MT Haryono Kav. 23 <br> Tebet Jakarta 12820 <br>INDONESIA</p>
                            <p class="mb-0 mt-0">{{ settings.site.contact_email }}</p>
                        </div>

                        <div class="col-12 p-0">
                            <div class="row">
                                <div class="col-12 input-group p-0">
                                    <input type="email" name="email" class="form-control field-email" placeholder="{{ 'Email'|_ }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 input-group p-0">
                                    <input type="text" name="name" class="form-control field-name" placeholder="{{ 'Name'|_ }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 input-group p-0">
                                    <input type="text" name="phone" class="form-control field-phone" placeholder="{{ 'Phone'|_ }}">
                                </div>
                            </div>
                            <div class="col-12 input-group p-0">
                                <button class="btn primary-button btn-block" type="submit" data-attach-loding>{{ 'SUBMIT'|_ }}</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-images col-12 col-md-6 pl-md-5">
                    <img src="{{ settings.appearance.banner_contact.getThumb('1080', '1080', 'crop') }}" class="fit-image" alt="Contact Us">
                </div>
            </div>
        </form>
    </div>
</section>