title = "Home"
url = "/"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
<?php
function onEnd() {
    $this['services'] = \Terra\Service\Models\Service::get();
    $this['issues']   = \Terra\Issue\Models\Issue::get();
    $this['partners'] = \Terra\Partner\Models\Partner::get();
}
?>
==
{% if settings.appearance.main_sliders|length %}
<div class="swiper-container full-slider featured animation slider-primary">
    <div class="swiper-wrapper">
        {% for slider in settings.appearance.main_sliders %}
        <div class="swiper-slide slide-center">
            <a href="{{ slider.title ?: '#' }}">
                <img src="{{ slider.path }}" alt="" class="img-responsive">
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
</div>
{% endif %}

<section id="about" class="section-1 highlights image-right">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 align-self-center text-center text-md-left">
                <div class="row intro">
                    <div class="col-12 p-0">
                        <h3 class="featured alt">{{ settings.blocker.blocker_about_title }}</h3>
                        <p>{{ settings.blocker.blocker_about_description }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6" style="background-image:url({{ settings.appearance.banner_blocker_about.path }}); background-position: center center; background-size: 50%; background-repeat: no-repeat;">
                <div class="gallery-tagline d-none d-sm-none d-md-flex small" style="    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 32%;
    position: relative;"><b>{{ settings.site.tagline }}</b></div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="section-2 offers">
    <div class="container">
        <div class="row intro">
            <div class="col-12 col-md-9 align-self-center text-center text-md-left">
                <h2 class="featured">{{ settings.heading.service_title }}</h2>
            </div>
        </div>
        <div class="row justify-content-center text-center items">
            {% for key, service in services %}
                {% partial 'service/card-service' key=key service=service %}
            {% endfor %}
        </div>
    </div>
</section>

<section id="about" class="section-3 highlights block-issue image-right">
    <a href="{{ 'about/issue'|page }}"></a>
    <div class="container">
        <div class="row align-items-center card-issue">
            <div class="col-lg-6 order-2 order-lg-1">
                <h2 class="text-center">{{ settings.heading.issue_title }}</h2>
                {% for issue in issues %}
                <h4 class="text-center">{{ issue.name }}</h4>
                {% endfor %}
            </div>
            <div class="col-lg-6 text-right sm-margin-40px-bottom order-1 order-lg-2">
                <a href="{{ 'about/issue'|page}}">
                    <img src="{{ settings.appearance.banner_issue.path }}" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

{# <section id="testimonials" class="section-4 carousel">
    <div class="overflow-holder">
        <div class="container">
            <div class="row text-center intro">
                <div class="col-12">
                    <h2>{{ settings.heading.partner_title }}</h2>
                </div>
            </div>
            <div class="swiper-container mid-slider items" data-perview="2">
                <div class="swiper-wrapper">
                    {% for partner in partners %}
                    <div class="swiper-slide slide-center text-center item">
                        <div class="row card card-review">
                            <div class="col-12">
                                <div class="card-partner" style="background-image: url({{ partner.picture.path }})">
                                    <a href="{{ 'partner/index'|page }}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
#}

<section id="news" class="section-5 showcase news">
    <div class="overflow-holder">
        <div class="container">
            <div class="row intro">
                <div class="col-12 col-md-9 align-self-center text-center text-md-left">
                    <h2 class="featured">{{ settings.heading.publication_title }}</h2>
                </div>
            </div>
            <div class="row">
            {% for post in blogPosts.posts %}
                <div class="col-md-4 col-12">
                    {% partial 'publication/card-publication' post=post %}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>