{% if key%2 == 0 %}
<div class="row align-items-center card-issue" id="{{ key }}">
    <div class="col-lg-6 order-2 order-lg-1">
        <h4 class="mb-0">{{ service.name }}</h4>
        <p class="inner-title mb-3 mt-1">{{ service.body }}</p>
    </div>
    <div class="col-lg-6 text-right sm-margin-40px-bottom order-1 order-lg-2">
        <img src="{{ service.picture.path }}" alt="">
    </div>
</div>
{% else %}
<div class="row align-items-center card-service" id="{{ key }}">
    <div class="col-lg-6 order-2 order-lg-2">
        <h4 class="mb-0">{{ service.name }}</h4>
        <p class="inner-title mb-3 mt-1">{{ service.body }}</p>
    </div>
    <div class="col-lg-6 text-right sm-margin-40px-bottom order-1 order-lg-1">
        <img src="{{ service.picture.path }}">
    </div>
</div>
{% endif %}
