[viewBag]
==
<div class="col-12 col-md-6 col-lg-6 item">
    <div class="card featured p-0">
    	<a href="{{ 'service/index'|page }}#{{ key }}">
    		<img class="img-100" src="{{ service.picture.path }}"></img>
    	</a>
        <h4>{{ service.name }}</h4>
    </div>
</div>