title = "Partners We Have Supported"
url = "/partners"
layout = "default"
is_hidden = 0

[viewBag]
localeTitle[id] = "Mitra Yang Telah Kami Bantu"
localeUrl[id] = "/mitra-yang-telah-kami-bantu"
==
<?php
function onEnd() {
    $this['partners'] = \Terra\Partner\Models\Partner::get();
}
?>
==
{% partial 'banner-primary' %}
<section id="contact" class="section-7 form">
    <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 align-self-center text-center">
                    <div class="row">
                        {% for partner in partners %}
                        <div class="col-md-4 align-self-center">
                            <img src="{{ partner.picture.path }}" alt="" style="width: 150px">
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="content-images col-12 col-md-6 pl-md-5 d-none d-md-block" style="overflow: hidden">
                    <div class="swiper-container mid-slider items" data-perview="1">
                        <div class="swiper-wrapper">
                            {% for partner in partners %}
                            {% if partner.body %}
                            <div class="swiper-slide slide-center text-center item">
                                <div class="row">
                                    <div class="col-12">
                                        <p>{{ partner.body }}</p>
                                        <p class="mb-0">{{ partner.person }} ({{ partner.occupation}})</p>
                                        <small class="small">{{ partner.name }}</small>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
        

{#{% partial 'banner-primary' %}
<section id="testimonials" class="section-1 carousel">
    <div class="overflow-holder">
        <div class="container">            
            {% for partner in partners %}
            <div class="row card card-partner-service text-center mb-2">
                <div class="col-12">
                    <div class="card-partner" style="background-image: url({{ partner.picture.path }})">
                    </div>
                    <p class="mt-2">{{ partner.body }}</p>
                    <p class="mb-0">{{ partner.person }}</p>
                    <p class="mt-0">{{ partner.occupation }} ({{ partner.name }})</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>#}