[localePicker]
forceUrl = 0
==
<!DOCTYPE html>
<html lang="en">
    <head>
        {% partial 'head' %}

        {% styles %}

        <style>
            :root {
                --header-bg-color: #f5f5f5; --nav-item-color: #2f323a; --top-nav-item-color: #2f323a; --hero-bg-color: #f5f5f5; --section-1-bg-color: #eeeeee; --section-2-bg-color: #e5e5e5; --section-3-bg-color: #f5f5f5; --section-4-bg-color: #eeeeee; --section-5-bg-color: #e5e5e5; --section-6-bg-color: #f5f5f5; --section-7-bg-color: #eeeeee; --footer-bg-color: #f5f5f5; }
        </style>
    </head>
    <body>
        {% partial 'header' %}

        {% page %}

        {% partial 'footer' %}

        <!-- Modal [responsive menu] -->
        <div id="menu" class="p-0 modal fade" role="dialog" aria-labelledby="menu" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideout" role="document">
                <div class="modal-content full">
                    <div class="modal-header" data-dismiss="modal">
                        Menu <i class="icon-close"></i>
                    </div>
                    <div class="menu modal-body">
                        <div class="row w-100">
                            <div class="items p-0 col-12 text-center">
                            <!-- Append [navbar] -->
                            </div>
                            <div class="contacts p-0 col-12 text-center">
                            <!-- Append [navbar] -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scroll [to top] -->
        <div id="scroll-to-top" class="scroll-to-top">
            <a href="#header" class="smooth-anchor">
                <i class="icon-arrow-up"></i>
            </a>
        </div>
        
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-body p-0">
                <a href="#" style="position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 80px;
    background: #00000057;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;" data-dismiss="modal">x</a>
                <img class="w-100" src="https://terrakomunika.com/storage/app/media/terra-earth-day.jpg"/>
              </div>
            </div>
          </div>
        </div>

        <!-- ==============================================
        Vendor Scripts
        =============================================== -->
        <script src="{{ [
        	'@jquery',
            '@framework',
            '@framework.extras',

	        'assets/js/vendor/jquery.easing.js',
	        'assets/js/vendor/jquery.inview.js',
	        'assets/js/vendor/popper.js',
	        'assets/js/vendor/bootstrap.js',
	        'assets/js/vendor/ponyfill.js',
	        'assets/js/vendor/slider.js',
	        'assets/js/vendor/animation.js',
	        'assets/js/vendor/bricklayer.js',
	        'assets/js/vendor/gallery.js',
	        'assets/js/vendor/shuffle.js',
	        'assets/js/vendor/cookie.js',
	        'assets/js/vendor/particles.js',
	        'assets/js/main.js',

        ]|theme }}"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

        {% scripts %}

        {% partial 'flash' %}

        {% partial 'tracker' %}
        
        <script>        
        if(!Cookies.get('isModal')) {
            $('#exampleModal').modal('show');
        }
        
        $('#exampleModal').on('hide.bs.modal', function () {
          Cookies.set('isModal', 'true');
        })
        </script>

    </body>
</html>