.slider-primary {
	padding-top: 80px;

	@media(min-width: 576px) {
		padding-top: 110px;
	}
}

section.footer {
	padding-top: 50px;
	padding-bottom: 50px;
}

header .navbar-expand .navbar-brand img {
	width: 50px;
	height: auto;

	@media(min-width: 768px) {
		width: 100px;
	}
}

footer .brand .logo img {
	width: 250px;
	height: auto;
}

.text-primary {
	color: #241f48 !important;
}

.card-issue {
	margin-bottom: 40px;
}

.card-partner {
	position: relative;
	height: 100px;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
}

.card-partner-service {
	min-height: 250px;
	align-items: center;

	@media(min-width: 768px) {
		min-height: 400px;
	}

	.card-partner {
		background-size: 20%;
	}
}

.card-partner a,
.card-team a {
	position: absolute;
	width: 100%; height: 100%;
	top: 0; left: 0;
	z-index: 1;
}

.card-team {
	position: relative;
}

.block-issue > a {
	position: absolute;
	width: 100%; height: 100%;
	top: 0; left:0;
	z-index: 99999;
}
