url    = "/publication/detail/:slug"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "about"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "about"
==
<?php
function onEnd() {
    $this->page->title       = $this->blogPost->post->title;
    $this->page->image       = count($this->blogPost->post->featured_images) ? $this->blogPost->post->featured_images[0]->getPath() : '' ;
    $this->page->description = str_limit($this->blogPost->post->content, 100, '...');
}
?>
==
{% set post = blogPost.post %}
<section id="content" class="section-3 single featured">
    <div class="container">
        <div class="row">
            <!-- Main -->
            <main class="col-12 col-lg-8 p-0">
                <img src="{{ post.featured_images[0].path }}" class="img-100 mb-2">
                <div class="row">
                    <div class="col-12 align-self-center">
                        <h1 style="font-size: 41px;">{{ post.title }}</h1>
                        {{ post.content_html|raw }}
                    </div>
                </div>
            </main>
            <!-- Sidebar -->
            <aside class="col-12 col-lg-4 pl-lg-5 p-0 float-right sidebar">
                <div class="row">
                    <div class="col-12 align-self-center text-left">
                        <div class="item widget-share-this">
                            <h4 class="title">{{ 'Share This'|_ }}</h4>
                            <div class="shareaholic-canvas" data-app="share_buttons" data-app-id="29035405"></div>
                            {# <ul class="navbar-nav social share-list">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="icon-social-instagram ml-0"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="icon-social-facebook"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="icon-social-linkedin"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="icon-social-twitter"></i>
                                    </a>
                                </li>
                            </ul> #}
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>

<!-- News -->
<section id="news" class="section-2 carousel showcase news">
    <div class="overflow-holder">
        <div class="container">
            <div class="row text-center intro">
                <div class="col-12">
                    <h2>{{ 'Related Publications'|_ }}</h2>
                </div>
            </div>
            <div class="swiper-container mid-slider items" data-loop="false" data-autoplay="true">
                <div class="swiper-wrapper">
                    {% for post in blogPosts.posts %}
                    <div class="swiper-slide slide-center item">
                        {% partial 'publication/card-publication' post=post %}
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
