title     = "Publications"
url       = "/publication"
layout    = "default"
is_hidden = 0

[blogPosts]
pageNumber     = "{{ :page }}"
postsPerPage   = 10
noPostsMessage = "No posts found"
sortOrder      = "published_at desc"
categoryPage   = "blog/category"
postPage       = "blog/post"
==
{% partial 'banner-primary' %}
<section id="blog" class="section-1 showcase blog-grid masonry news">
    <div data-aos="zoom-in" data-aos-delay="200" data-aos-anchor="body" class="container">
        <div class="row content blog-grid masonry">
            <main class="col-12 p-0">
                <div class="bricklayer items columns-3">
                    {% for post in blogPosts.posts %}
                        {% partial 'publication/card-publication' post=post %}
                    {% endfor %}
                </div>
            </main>
        </div>
    </div>
</section>
