<h3>Terra Komunika</h3>

<p>Terra Komunika didirikan tahun 2019 dengan gagasan untuk meningkatkan dukungan publik terhadap isu-isu lingkungan dan keberlanjutan, terutama dalam pemanfaatan lahan, pengelolaan kelautan dan pesisir, dan pengembangan perkotaan. Firma komunikasi ini memiliki inspirasi untuk berkolaborasi dengan organisasi masyarakat sipil, pihak swasta, organisasi pendonor, mitra-mitra pembangunan, maupun pihak lainnya dalam menyampaikan isu-isu lingkungan.</p>

<h3>Visi</h3>

<p>Mengerjakan isu yang terkait dengan pemanfaatan lahan, kelautan dan pesisir, serta mengatasi tantangan pembangunan perkotaan, Terra Komunika percaya pada kekuatan data, pemikiran strategis, dan imajinasi dalam mengembangkan komunikasi yang efektif melalui keterlibatan media, konten yang tepat target, dan kampanye kreatif.</p>

<h3>Misi</h3>

<p>Menggugah dan memperluas perhatian publik atas isu-isu penting dalam pengelolaan lahan, kelautan dan pesisir, serta pengembangan perkotaan.</p>