<h3>Terra Komunika</h3>

<p>Terra Komunika was established in 2019 with ideas to raise public support for environmental and sustainability issues, particularly on the issues of land use, marine and coastal management, and urban development in developing countries. This communications firm aims to collaborate with civil society organizations, private sectors, philantropic organizations, development partners, and others to communicate environmental issues better in ways it resonates to specific audience.</p>

<h3>Vision</h3>

<p>Working on terrestrial and marine issues as well as addressing urban challenges, Terra Komunika believes in the power of data, strategic thinking, and imagination in developing effective communications through media engagement, targeted content, and creative campaigns.</p>

<h3>Mission</h3>

<p>To raise and broaden public support on the important issues in land, marine and coastal management, and urban development.</p>