title = "Issues We Manage"
url = "/about/issues-we-manage"
layout = "default"
is_hidden = 0

[viewBag]
localeTitle[id] = "Isu yang Kami Kelola"
==
<?php
function onEnd() {
    $this['issues']   = \Terra\Issue\Models\Issue::get();
}
?>
==
{% partial 'banner-primary' %}
<section id="about" class="section-1 highlights image-right">
    <div class="container">
        {% for key, issue in issues %}
            {% partial 'issue/card-issue' issue=issue key=key %}
        {% endfor %}
    </div>
</section>