title = "About Us"
url = "/about"
layout = "default"
is_hidden = 0
==
<?php
function onEnd() {
    $this['teams'] = \Terra\Team\Models\Team::orderBy('nest_left')->get();
}
?>
==
{% partial 'banner-primary' %}
<section id="content" class="section-1 single">
    <div class="container">
        <div class="row">
            <main class="col-12 col-lg-8 p-0">
                <div class="row">
                    <div class="col-12 align-self-center">
                        {% content 'about' %}
                    </div>
                </div>
            </main>
            <aside class="col-12 col-lg-4 pl-lg-5 p-0 float-right sidebar" style="background-image:url({{ settings.blocker.blockers[0].image|media }}); background-position: center center; background-size: 80%; background-repeat: no-repeat;">
                <div class="gallery-tagline d-none d-sm-none d-md-flex small" style="    width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                top: 22%;
                position: relative;"><b>{{ settings.site.tagline }}</b></div>
            </aside>
        </div>
    </div>
</section>
<section id="testimonials" class="section-2 carousel">
    <div class="overflow-holder">
        <div class="container">
            <div class="row intro">
                <div class="col-12 col-md-9 align-self-center text-center text-md-left">
                    <h2 class="featured">{{ 'Our Teams'|_ }}</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                {% for key, team in teams %}
                <div class="col-md-6 col-12 mb-6">
                    <div class="card card-team text-center">
                        <img src="{{ team.picture ? team.picture.getThumb('128', '128', 'crop') : 'assets/images/placeholder-avatar.jpg'|theme }}" alt="{{ team.name }}" class="person ml-auto mr-auto">
                        <h4 class="mb-0">{{ team.name }}</h4>
                        <p class="mt-0">{{ team.role }}</p>
                        <p>{{ team.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>