title = "Our Team"
url = "/about/team"
layout = "default"
is_hidden = 0

[viewBag]
localeTitle[id] = "Tim Kami"
localeUrl[id] = "/tim-kami"
==
<?php
function onStart() {
    $this['teams'] = \Terra\Team\Models\Team::orderBy('nest_left')->get();
}
?>
==
{% partial 'banner-primary' %}
<section id="testimonials" class="section-1 carousel">
    <div class="overflow-holder">
        <div class="container">
            <div class="row justify-content-center">
                {% for key, team in teams %}
                <div class="col-md-6 col-12 mb-6">
                    <div class="card card-team text-center">
                        <img src="{{ team.picture ? team.picture.getThumb('128', '128', 'crop') : 'assets/images/placeholder-avatar.jpg'|theme }}" alt="{{ team.name }}" class="person ml-auto mr-auto">
                        <h4 class="mb-0">{{ team.name }}</h4>
                        <p class="mt-0">{{ team.role }}</p>
                        <p>{{ team.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>