<div class="row card p-0 text-center mb-4">
    <div class="image-over">
        <img src="{{ post.featured_images.count ? post.featured_images[0].getThumb('508', '650', 'crop') : 'assets/images/placeholder-publication.png'|theme }}" alt="Lorem ipsum">
    </div>
    <div class="card-caption col-12 p-0">
        <div class="card-body">
            <a href="{{ 'publication/detail'|page({slug: post.slug}) }}">
                <h4 class="m-0">{{ post.title }}</h4>
            </a>
        </div>
        <div class="card-footer d-lg-flex align-items-center justify-content-center">
            <a href="{{ 'publication/detail'|page({slug: post.slug}) }}" class="d-lg-flex align-items-center">
                <i class="icon-calendar"></i>
                {{ post.published_at|date('d/m/Y')}}
            </a>
        </div>
    </div>
</div>
